@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --celeste-uno-color: #8ecae6;
  --celeste-dos-color: #219ebc;
  --azul-osc-color: #023047;
  --naranja-uno-color: #ffb703;
  --naranja-dos-color: #fb8500;
  --bordo-color: #642828;
}

body {
  background-image:url(/images/image-index-coffee2.jpg);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

nav {
  border-radius: 0.3em;
}

/*** MESAS ***/
.wrap-mesas {
  border-radius: 0.2em;
  padding-right: 0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  
}

.wrap-mesas .titulo-mesas {
  border-radius: 0.3em 0.3em 0 0;
  background-color: var(--celeste-dos-color);
  font-size: 2em;
  font-weight: 500;
  padding-left: 0.5em;
  margin-bottom: 0.2em;
  color: #fff;
}

.wrap-mesas .detalles {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}
.wrap-mesas .N {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--celeste-uno-color);
  height: 3.5em;
  width: 4em;
  margin-bottom: 0;
  color: #fff;
  font-weight: 900;
  margin-bottom: 2px;
  margin-right: 2px;
}

.wrap-mesas .mesas a.numero-mesa {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--celeste-dos-color);
  height: 4em;
  width: 4em;
  margin-bottom: 0;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1px;
  cursor: pointer;
  text-decoration: none;
}

.wrap-mesas .mesas a:last-child{
  border-end-start-radius: .8em;
}

.wrap-mesas .mesas a.numero-mesa:hover {
  background-color: var(--celeste-uno-color);
}

.wrap-mesas .mesas a.numero-mesa.activa {
  background-color: var(--naranja-uno-color);
}

.wrap-mesas .tabla-pedidos {
  width: 100%;
}

.wrap-mesas .tabla {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.wrap-mesas .row-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--celeste-dos-color);
  height: 3.5em;
  padding: 1em;
  margin-right: 1px;
  color: #fff;
}


.wrap-mesas tbody tr {
  display: flex;
  justify-content: space-between;
}

.wrap-mesas tbody td {
  padding: 0.5em 1em;
}

.wrap-mesas tbody tr:nth-child(even) {
  background-color: rgb(228, 228, 228);
}

.wrap-mesas tbody tr:hover {
  background-color: rgb(194, 193, 193);
}

.wrap-mesas .fa-times-circle{
  margin-right: 0.5em;
  cursor: pointer;
  transition: all ease .3s;
}
.wrap-mesas .fa-times-circle:hover{
  color: red;
}

.wrap-mesas button{
  border-end-end-radius: 0.5em;
}

.cerrar-mesa {
  background-color: #FB8500;
  color: #fff;
  text-decoration: none;
  border: none;
}

tfoot tr{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  bottom: 50px;
}

tfoot tr #total,
tfoot tr #mostrarTotal{
  font-weight: bolder;
}

/***  MENU  ***/
.wrap-menu {
  border-radius: 0.2em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}


.wrap-menu .titulo-menu {
  background-color: var(--bordo-color);
  border-radius: 0.3em 0.3em 0 0;
  font-size: 2em;
  font-weight: 500;
  padding-left: 0.5em;
  margin-bottom: 0.2em;
  color: #fff;
}

.wrap-menu .card-producto {
  cursor: pointer;
  transition: all 1s ease;
  border-radius: 1em;
}
.wrap-menu .card-producto:hover {
  transform: scale(1.01);
}

.wrap-menu .click {
  cursor: pointer;
}

.wrap-menu .descripcion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--naranja-dos-color);
}

.wrap-menu .descripcion p {
  margin-bottom: 0;
  font-size: clamp(1rem, 2vw, 1rem);
  color: #fff;
}

.wrap-menu .producto {
  margin-right: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
}

.wrap-menu .etiqueta-precio {
  background-color: var(--naranja-uno-color);
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

