* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(../images/image-login-coffee2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja {
    width: 100%;
    padding: 10px 20px;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(100, 40, 40, 0.534);
    margin: 100px 0px;
    color: white;
    transition: all 500ms;
    border-radius: 10px;
}

.caja h3 {
    text-align: left;
    font-size: 26px;
    font-weight: 400;
}

.caja p,
.caja button {
    margin-top: 30px;
}

.caja button {
    padding: 10px 40px;
    border: solid white;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all 300ms;
}

.caja button:hover {
    background-color: white;
    color: rgba(100, 40, 40, 1);
}

/*Formularios*/

.contenedor__todo form {
    width: 100%;
    padding: 20px 0px;
    max-width: 380px;
}

.caja form input {
    width: 100%;
    margin-top: 17px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}
